@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

@layer base {
  /* body{
    @apply font-[Raleway];
  } */
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  /* background-image: 
  linear-gradient(
    to right,
    rgba(66, 66, 66, 0),
    hsla(240, 1%, 27%, 0.227)
  )!Important; */
  background-color: #000000ed;
}

/* SVG color */
.home__blob {
  fill: #db2777;
  transition: 0.3s;
}

.home__blob-img {
  width: 170px;
  transition: 0.3s;
}

.home__blob-img:hover {
  transform: translateY(-0.125rem);
}

.home__blob:hover {
  transform: translateY(-2rem);
}

/*==================== QUALIFICATION ====================*/
.qualification__button {
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
}

.qualification__button:hover {
  color: hsl(4650, 69%, 61%);
}

.qualification__icon {
  font-size: 1.8rem;
  margin-right: 0.25rem;
}

.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.qualification__title {
  font-size: 0.938rem;
  font-weight: 500;
}

.qualification__subtitle {
  display: inline-block;
  font-size: 0.813rem;
  margin-bottom: 1rem;
}

.qualification__calendar {
  font-size: 0.75rem;
  color: hsl(4650, 8%, 65%);
}

.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: hsl(4650, 69%, 61%);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: hsl(4650, 69%, 61%);
  transform: translate(6px, -7px);
}

.qualification__active {
  color: hsl(4650, 69%, 61%);
}
